<div class="container">

  <h3 class="text-center text-info">Pokemon</h3>

  <!-- Show Loading symbol if there are no pokemon or all 151 haven't loaded-->
  <div class="loading" *ngIf="!pokemonsLoaded">
    Loading....
  </div>

  <div class="row" *ngIf="pokemonsLoaded && pokemons">

    <div class="col-sm-3"
         *ngFor="let pokemon of pokemons.results | search: query | typeFilter: typeFilters | abilitiesFilter: abilityFilters">

      <div class="card" *ngIf="pokemon.details">
        <div class="card-header  bg-warning">
          <h4 class="card-title">{{ pokemon.name | titlecase }}</h4>
          <h4 class="id">{{ pokemon.id }}</h4>
        </div>
        <div class="card-body bg-light">
          <img
            class="card-img-top"
            src="{{ pokemon.details.sprites.front_default }}"
            alt="photo of {{ pokemon.name }}"
          />
        </div>


        <div class="card-footer  bg-warning"><label class="text-dark">Type</label>
          <ul>
            <li *ngFor="let type of pokemon.details.types">
              {{ type.type.name | titlecase }}
            </li>
          </ul>
        </div>
        <br/>
      </div>

    </div>
  </div>

</div>


